.brand {
  font-family: 'Roboto' , sans-serif;
}

.fa-2x {
  font-size: 2em !important;}

.fa-3x {
  font-size: 3em !important;}
.fa-4x {
  font-size: 4em !important;}
.fa-5x {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5em !important;}
  header.masthead2 .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
  }header.masthead2 .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Barlow Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }header.masthead2 .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .expand{
    -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          transition: 1s;

  }
  .expand:hover{
    -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
          transform: scale(1.3);
          transition: 1s;
  }

  .card-back{
    background-color: rgba(0, 0, 0, 0.3);

  }
  .card-back2{
    background-color:rgba(0, 0, 0, 0.4);
    }
  .card-back3{
    background-color:rgba(0, 0, 0, 0.5);
    }
    .card-back4{
      background-color:rgba(0, 0, 0, 0.6);
      }
